<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <h1>Titulo Principales</h1>
    <h6>Titulos menos importantes</h6>
    <p>Texto para un parrafo</p>
    <ol>
        <li>Elemento 1</li>
        <li>
            <h3>Elemento 2</h3>
        </li>
        <li>Elemento 3</li>
    </ol>
    <ul>
        <li>Elemento 1</li>
        <li>Elemento 2</li>
        <li>Elemento 3</li>
    </ul>
    <form action="">
        <h2>Registro</h2>
        <label for="userInput">Usuario:</label>
        <input type="text" id="userInput">
        <br>
        <label for="passwordInput">Contraseña:</label>
        <input type="password" id="passwordInput">
        <hr>
        <div class="inputRow">
            <label for="emailInput">email:</label>
            <input type="email" name="correo" id="emailInput">
        </div>
        <div class="inputRow">
            <label for="animalInput">Animal favorito:</label>
            <select name="animal" id="animalInput">
                <option value="dog">Perro</option>
                <option value="cat">Gato</option>
                <option value="minipig">Cerdito</option>
            </select>
        </div>
        <div class="inputRow">
            <h4>Genero</h4>
            <label for="xy">Masculino</label>
            <input type="radio" value="xy" name="genero" id="xy">
            <label for="xx">Femenino</label>
            <input type="radio" value="xx" name="genero" id="xx">
        </div>
        <input type="checkbox" name="" id="">

        <button id="enviarBtn">Enviar</button>
    </form>
</body>

</html>